@media (max-width: 1200px){
  .hero-info{
    z-index: 1;
  }

  .bg-reletive{
    justify-content: space-between;
  }

  .hero-info{
   padding: 130px 0;
  }

  .img-bg-hero{
    max-width: 543px;
  }

  .teachers-about {
    max-width: initial;
  }
}

@media (max-width: 1024px) {

  .container{
    max-width: 720px;
  }

  .bg-hero{
    display: none;
  }

  .hero-info {
    padding: 0;
    padding-top: 125px;
  }


  .header-container {
    padding-top: 30px;
    padding-bottom: 25px;
  }

  .hero-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 100%;
    color: #FFFFFF;
  }

  .hero-text{
    margin-top: 16px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #FFFFFF;
  }

  .hero-bth {
    margin-top: 63px;
    margin-bottom: 134px;
  }

  .about-info {
    background-image: url(../img/about-textur-img768.png);
    background-repeat: no-repeat;
    background-position: 2.4% 32.9%;
    padding-left: 255px;
  }

  .about{
    margin-bottom: 76px;
  }

  .hero{
    margin-bottom: 82px;
  }

  .targets {
    padding: 99px 21px 0px 13.5px;
    background-position: 10.25% 10%;
  }

  .teachers-container{
    padding-top:75px;
  }

  .teachers-name{
    padding-top: 26px;
    margin-bottom: 8px;
  }

  .teachers-card {
    padding: 0px 14px;
  }


  .teachers-card:nth-child(even){
    padding-left: 15px;
  }

  .teachers-card:nth-child(-n+2){
    margin-bottom: 23px;
  }



  .teachers-about{
    max-width: 332px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #85859B;
    }

  .courses-group-info-cards {
    position: relative;
    padding: 180px 16px 0px 28px;
    border-radius: 20px;
    min-height: 556px;
  }

  .courses-bth {
    top: 83.4%;
    padding: 20.5px 56px;
  }

  .courses-time {
    top: 2%;
    left: 68%;
  }

  .courses-card:nth-child(4n+1), .courses-card:nth-child(4n+2) {
    margin-bottom: 28px;
  }

  .courses-card {
    padding: 0 15px;
  }

  .courses-bg1{
    padding: 180px 27px 0px 28px;
    background-image: url(../img/courses-img1-768.png);
  }

  .courses-bg2{
    padding: 180px 21px 0px 32px;
    background-image: url(../img/courses-img2-768.png);
  }

  .courses-bg3{
    padding: 180px 24px 0px 29px;
    background-image: url(../img/courses-img3-768.png);
  }

  .courses-bg4{
    padding: 180px 21px 0px 32px;
    background-image: url(../img/courses-img4-768.png);
  }

  .courses{
    margin-bottom: 79px;
  }

  .teachers{
    margin-bottom: 72px;
  }

  .teachers{
    margin-bottom: 73px;
    background: #2E2B44;
  }

}
@media (max-width: 768px){

  .bg-hero{
    display: none;
  }

  .header-container{
    padding-bottom: 29px;
  }

  .header-nav{
    padding-top: 28px;
  }

  .header-flex{
    flex-direction: column;
    align-items: center;
  }

  .header-row{
    flex-direction: column;
    align-items: center;
  }

  .bg-reletive{
    padding-left: 17px;
  }

  .header{
    min-height: 133px;
  }

  .hero-bg{
    background: none;
  }
  .hero-title{
    margin-top: 77px;
  }

  .hero-bth{
    padding: 24px 75.5px;
  }

  .hero-info {
    flex: 0 0 auto;
    max-width: 65%;
  }

  .hero{
    margin-bottom: 80px;
  }


  .about-text{
    margin: 0;
    margin-top: 18px;
    max-width: 315px;
  }

  .about-info{
    padding-left: 213px;
    background-image: url(../img/textur576.png);
    background-position: 8% 0%;
  }

  .targets{
    padding: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    /* or 19px */

    display: flex;
    align-items: center;

    color: #666666;

  }
  .targets-offset {
    margin-top: 14px;
  }

  .target-bg1 {
    background-position: 30.25% 8%;
    padding: 97px 11px 0px 33px;
  }

  .target-bg2 {
    background-position: 18.4% 7%;
    padding: 97px 15px 0px 21px;
  }

  .target-bg3 {
    background-position: 9.1% 7%;
    padding: 99px 24px 0px 9px;
  }

  .about {
    margin-bottom: 57px;
  }

  .teachers-about {
    width: 249px;
  }

  .teachers-card{
    max-width: 50%;
  }

  .teachers-name{
    margin-bottom: 7px;
  }

  .courses-name{
    font-weight: 700;
    font-size: 18px;
    line-height: 130%;
    color: #2E2B44;
  }

  .courses-card:nth-child(4n+1), .courses-card:nth-child(4n+2) {
    margin-bottom: 30px;
  }

  .courses-card{
    max-width: 300px;
  }

  .courses-group-info-cards{
    background-size: contain;
  }

  .courses-bth{
    top: 86.4%;
    padding: 20.5px 48px;
  }

  .courses-bg1{
    padding: 180px 35px 0px 28px;
    background-image:url(../img/courses-img1-576.png) ;
  }

  .courses-bg2{
    padding: 180px 21px 0px 30px;
    background-image:url(../img/courses-img2-576.png) ;
  }

  .courses-bg3{
    padding: 181px 31px 0px 29px;
    background-image:url(../img/courses-img3-576.png) ;
  }

  .courses-bg4{
    padding: 184px 21px 0px 31px;
    background-image:url(../img/courses-img4-576.png) ;
  }

  .courses-card:nth-child(even){
    padding: 0px 11px 0px 15px;
  }
  .courses-time {
    top: 1.5%;
    left: 55.4%;
  }

  .courses-last-bth{
    top: 86%;
  }

  .courses-name{
    margin-bottom: 8px;
  }
  .courses-text2{
    padding-right: 12px;
  }

  .courses {
    margin-bottom: 77px;
  }

  .social-link{
    padding: 28px 16px 24px 14px;
  }

  .teachers{
    margin-bottom: 75px;
  }

  .courses-group-info-cards{
    min-height: 653px;
  }



}

@media (max-width: 720px){
  .container{
    max-width: 578px;
  }

  .courses-card{
    max-width: initial;
  }

  .courses-card:not(:last-child) {
    margin-bottom: 30px;
  }

  .courses-group-info-cards{
    min-height: 480px;
    background-size: initial;
    background-size: 100% 38%;
  }

  .courses-bg1{
    background-image: url(../img/courses-img1.png);
  }

  .courses-bg2{
    background-image: url(../img/courses-img2.png);
  }

  .courses-bg3{
    background-image: url(../img/courses-img3.png);
  }

  .courses-bg4{
    background-image: url(../img/courses-img4.png);
  }

  .courses-time{
    top: 1.5%;
    left: 78.4%;
  }
}

@media (max-width: 572px){

  .courses-group-info-cards{
    min-height: 480px;
    background-size: initial;
  }

  .courses-time{
    top: 1.5%;
    left: 73.4%;
  }

  /* .courses-bg1{
    background-image: url(../img/courses-img1-768.png);
  }

  .courses-bg2{
    background-image: url(../img/courses-img2-768.png);
  }

  .courses-bg3{
    background-image: url(../img/courses-img3-768.png);
  }

  .courses-bg4{
    background-image: url(../img/courses-img4-768.png);
  } */

}

@media (max-width: 530px){
  .teachers-card{
    max-width: none;
  }

  .teachers-about{
    width: initial;
    max-width: initial;
  }

  .teachers-picture{
    width: 100%;
  }

}
@media (max-width: 500px){
  .about-info {
    padding-left: 15px;
    background-image: none;
  }

  .header-nav{
    min-width: 440px;
  }

}

@media (max-width: 430px){

  .header-nav{
    min-width: initial;
  }

  .header-container{
    padding-top: 18px;
    padding-bottom: 0;
    background: none;
  }

  .header-nav{
    padding-top: 0;
  }
  .header-row{
    flex-direction:row;
    padding-top: 14px;
  }
  .header{
    min-height: 80px;
  }


  /* .header-nav{
    display: none;
  } */

  .header-flex{
    align-items: initial;
    justify-content: space-between;
    flex-direction: initial;
  }

  .header-logo-link{
    margin: 0;
  }

  .header-logo-img{
    max-width: 72px;
  }

  .header-nav-list{
    flex-direction: column;
  }
  /* hamburger-lines */
  #menuToggle
{
  display: block;
  position: relative;
  top: 1px;
  left: 1px;

  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;

  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

#menuToggle .burger-line
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #cdcdcd;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition:
  transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
  opacity 0.55s ease;
}

#menuToggle .burger-line:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle .burger-line:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ .burger-line
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ .burger-line:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}


#menuToggle input:checked ~ .burger-line:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}


#menu
{
  position: absolute;
  width: 300px;
  margin: -109px 0 0 -154px;
  padding: 50px;
  padding-top: 125px;


  list-style-type: none;
  -webkit-font-smoothing: antialiased;

  transform-origin: 0% 0%;
  transform: translate(100%, 0);

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu .header-nav-list-item
{
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked ~ ul
{
  transform: none;
}
#menuToggle .burger-line {
  display: block;
  width: 20.5px;
  height: 2px;
  }
  #menuToggle {
    display: block;
    position: relative;
    top: -1px;
    left: -6px;
  }
  #menuToggle input:checked ~ .burger-line {
    opacity: 1;
    transform: rotate(45deg) translate(1px, 1px);
    background: #FFFFFF;
  }

  .header-nav-list{
    display: none;

  }


  /* hamburger-lines */

  .bg-reletive{
    padding-left: 0;
  }
  .hero-info{
    max-width: 100%;
  }

  .offset{
    margin-bottom: 50px;
  }
  .hero-title{
    margin-top: 50px;
    font-weight: 700;
    font-size: 30px;
    line-height: 100%;
    color: #FFFFFF;
  }

  .hero-text{
    margin-top: 5px;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #FFFFFF;
  }

  .hero-bth {
    margin-top: 45px;
    margin-bottom: 50px;
    padding: 20.5px 53.5px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
  }

  .hero-bg{
    background-image: none;
  }

  .about{
    margin-bottom: 42px;
  }

  .about-title{
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
  }

  .about-text{
    margin: 0;
    margin-top: 2px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
  }

  .about-info{
    padding-left: 15px;
    background-image: none;
  }

  .targets-offset{
    flex-direction: column;
    margin-top: 2px;
  }

  .targets{
    background-position: 6% 70%;
    max-width: 100%;
    padding: 0;
    padding: 23px 18px 10px 125px;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    color: #666666;
  }

  .target-bg3{
    background-position: 6.6% 70%;
  }


  .teachers-title{
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
  }
  .teachers-container {
    padding-top: 47px;
  }

  .teachers-about {
    width: 280px;
  }
  .teachers-card{
    margin-top: 2px;
    margin-bottom: 23px;
  }

  .teachers-card:nth-child(-n+2) {
    margin-bottom: 21px;
  }

  .teachers-card:nth-child(even) {
    padding-left: 13px;
  }

  .teachers-container{
    padding-bottom: 24px;
  }

  .teachers {
    margin-bottom: 46px;
  }

  .courses-title{
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    color: #2E2B44;
  }





  .courses-card{
    width: 100%;
  }

  .courses-bg1 {
    padding: 183px 28px 0px 29px;
    background-image: url(../img/courses-img1-768.png);
  }

  .courses-bg2 {
    padding: 182px 28px 0px 33px;
    background-image: url(../img/courses-img2-768.png);
  }

  .courses-bg3 {
    padding: 181px 53px 0px 30px;
    margin-bottom: 30px;
    background-image: url(../img/courses-img3-768.png);
  }

  .courses-bg4 {
    padding: 182px 28px 0px 33px;
    background-image: url(../img/courses-img4-768.png);
  }

  .courses-card:nth-child(even) {
    padding: 0px 8px 0px 13px;
  }

  .courses-group-info-cards{
    min-height: 655px;
    background-size: 100% 28%;
  }

  .courses-card:nth-child(4n+1), .courses-card:nth-child(4n+2) {
    margin-bottom: 29px;
  }
  .courses-card{
    max-width: 100%;
  }
  .courses-time {
    top: 2%;
    left: 64.1%;
  }

  .courses-bth{
    padding: 20.5px 55.5px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
  }

  .courses{
    margin-bottom: 48px;
  }

}
